{% block body %}


<div class="form-container">
    <h1>Modification de l'Instrument #{{ instruments.id }}</h1>

    {# Le formulaire lui-même est inclus ici, maintenant avec un rendu structuré #}
    {{ include('instrument/_form.html.twig', {'button_label': 'Mettre à Jour', 'button_class': 'btn-save'}) }}

    <div class="actions">
        <a href="{{ path('app_instrument_index') }}" class="btn-action btn-back">
            Retour à la liste
        </a>
        <a href="{{ path('app_instrument_show', {'id': instruments.id}) }}" class="btn-action btn-edit">
            Voir Détail
        </a>
        {# Inclusion du bouton de suppression #}
        {{ include('instrument/_delete_form.html.twig') }}
    </div>

</div>
{% endblock %}