{% extends 'base.html.twig' %}

{% block title %}Détail de l'Instrument{% endblock %}

{% block body %}
    <h1>Détail de l'instrument : {{ instrument.typeInstrument ? instrument.typeInstrument.libelle : '' }} {{ instrument.marque ? instrument.marque.libelle : '' }}</h1>

    {# --- BLOC 1: DÉTAILS DE L'INSTRUMENT (EXISTANT) --- #}
    <div class="row mt-4">
        
        <div class="col-md-4">
            <img src="{{ asset('img/instruments/' ~ instrument.id ~ '.jpg') }}" 
                 alt="Photo de l'instrument {{ instrument.numSerie }}" 
                 style="width: 200px; height: 200px;"
                 class="img-fluid rounded shadow-sm">
        </div>

        <div class="col-md-8">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th style="width: 30%;">Numéro de Série</th>
                        <td>{{ instrument.numSerie }}</td>
                    </tr>
                    <tr>
                        <th>Marque</th>
                        <td>{{ instrument.marque ? instrument.marque.libelle : 'Non définie' }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ instrument.typeInstrument ? instrument.typeInstrument.libelle : 'Non défini' }}</td>
                    </tr>
                    <tr>
                        <th>Date d'achat</th>
                        <td>{{ instrument.dateAchat ? instrument.dateAchat|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Prix d'achat</th>
                        <td>{{ instrument.prixAchat ? instrument.prixAchat|number_format(2, ',', ' ') ~ ' €' : '' }}</td>
                    </tr>
                    <tr>
                        <th>Couleurs</th>
                        <td>
                            {% if instrument.couleurs is not empty %}
                                {% for couleur in instrument.couleurs %}
                                    <span class="badge bg-secondary">{{ couleur.nom }}</span>
                                {% endfor %}
                            {% else %}
                                Aucune
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Accessoires</th>
                        <td>
                             {% if instrument.accessoires is not empty %}
                                <ul>
                                {% for accessoire in instrument.accessoires %}
                                    <li>{{ accessoire.libelle }}</li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                Aucun
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# --- BLOC 2: HISTORIQUE DES CONTRATS DE PRÊT (NOUVEAU) --- #}
    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Historique des prêts</h3>
            
            {% if instrument.contratsPret is not empty %}
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>N° Contrat</th>
                            <th>Élève</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contrat in instrument.contratsPret %}
                            <tr>
                                <td>{{ contrat.numContrat }}</td>
                                {# On accède à l'élève lié au contrat #}
                                <td>{{ contrat.eleve ? contrat.eleve.prenom ~ ' ' ~ contrat.eleve.nom : 'N/A' }}</td>
                                <td>{{ contrat.dateDebut ? contrat.dateDebut|date('d/m/Y') : 'N/A' }}</td>
                                <td>{{ contrat.dateFin ? contrat.dateFin|date('d/m/Y') : 'N/A' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">
                    Cet instrument n'a jamais été prêté.
                </div>
            {% endif %}
        </div>
    </div>

    {# --- BLOC 3: HISTORIQUE DES INTERVENTIONS (NOUVEAU) --- #}
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Historique des interventions</h3>
            
            {% if instrument.interventions is not empty %}
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Professionnel</th>
                            <th>Descriptif</th>
                            <th>Coût</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for intervention in instrument.interventions %}
                            <tr>
                                <td>{{ intervention.dateDebut ? intervention.dateDebut|date('d/m/Y') : 'N/A' }}</td>
                                <td>{{ intervention.dateFin ? intervention.dateFin|date('d/m/Y') : 'N/A' }}</td>
                                <td>{{ intervention.professionnel ? intervention.professionnel.nom : 'N/A' }}</td>
                                <td>{{ intervention.descriptif }}</td>
                                <td>{{ intervention.prix ? intervention.prix|number_format(2, ',', ' ') ~ ' €' : 'N/A' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">
                    Cet instrument n'a subi aucune intervention.
                </div>
            {% endif %}
        </div>
    </div>

    <hr class="mt-4">

    <a href="{{ path('app_instrument_index') }}" class="btn btn-secondary">Retour à la liste</a>
    <a href="{{ path('app_instrument_edit', {'id': instrument.id}) }}" class="btn btn-warning">Modifier</a>
    
    <div style="display: inline-block;">
        {{ include('instrument/_delete_form.html.twig') }}
    </div>
{% endblock %}