{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>AgeMini</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                {# On masque l'en-tête 'actions' si l'utilisateur est un élève #}
                {% if not is_granted('ROLE_ELEVE') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.libelle }}</td>
                <td>{{ cour.ageMini }}</td>
                <td>{{ cour.heureDebut ? cour.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ cour.heureFin ? cour.heureFin|date('H:i:s') : '' }}</td>
                {# On masque les boutons d'action si l'utilisateur est un élève #}
                {% if not is_granted('ROLE_ELEVE') %}
                    <td>
                        <a href="{{ path('app_cours_show', {'id': cour.id}) }}">show</a>
                        <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# On masque le lien de création si l'utilisateur est un élève #}
    {% if not is_granted('ROLE_ELEVE') %}
        <a href="{{ path('app_cours_new') }}">Create new</a>
    {% endif %}
{% endblock %}